@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  --color-primary: #0055FF;
  --color-primary-foreground: #ffffff;

  --shadow-card-border: 0 0 0 0.5px #E4E5E9, 0 0 0 1px rgba(228, 229, 233, 0.60), 0 0 0 3.5px #F9F9FB, 0 0 0 4px #F3F4F7;
  --gradient-white-fade: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF 8.93%);
}

html,
body {
  background-color: white;
}