@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  --color-primary: #0055FF;
  --color-primary-foreground: #ffffff;
}

html,
body {
  background-color: white;
}
